body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #000066;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: #000066;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #000066;
}

.list-social-icons a:hover {
  color: #4FC3F7;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
  color: #4FC3F7;
}

.list-icons .list-inline-item i {
  color: #4FC3F7;
}

.list-icons .list-inline-item i:hover {
  color: #4FC3F7;
}

section.about-holder {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #4FC3F7 !important;
}

.text-primary {
  color: #4FC3F7 !important;
}

a {
  color: #4FC3F7;
}

a:hover, a:focus, a:active {
  color: #0ba8ef;
}
